services:
  db:
    image: pgvector/pgvector:pg17
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: rag_knowledge_base
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: andrew123
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
